@using Inventario.WebApp.Areas.Ventas.Modelos
@model AperturaDeCajaViewModel

@{
    ViewData["Title"] = "Ventas";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 mb-5">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-heading">Ventas</h4>
                    <div>
                        <label asp-for="Usuario.UserName">Usuario:</label>
                        <input type="tex" readonly="readonly" asp-for="Usuario.UserName" />

                        <label asp-for="Caja.Id">ID:</label>
                        <input type="tex" readonly="readonly" asp-for="Caja.Id" />
                    </div>

                </div>
                <div class="card-body">
                    <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                        <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <td>Id</td>
                                    <td>Fecha</td>
                                    <td>Cliente</td>
                                    <td>Sub Total</td>
                                    <td>% descuento</td>
                                    <td>Descuento</td>
                                    <td>Total</td>
                                    <td>Tipo de pago</td>
                                    <td>Estado</td>
                              
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Caja.Ventas)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                                        <td>@Html.DisplayFor(modelItem => item.NombreCliente)</td>
                                        <td>@Html.DisplayFor(modelItem => item.SubTotal)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PorcentajeDesCuento)</td>
                                        <td>@Html.DisplayFor(modelItem => item.MontoDescuento)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Total)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TipoDePago)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Estado)</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a style="margin-block:20px;" class="btn btn-info" asp-action="Index">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
