@using Inventario.WebApp.Areas.Ventas.Models;
@using Inventario.Models.Dominio.Ventas;
@model VentaParaCrear

@{
    ViewData["Title"] = "Articulos";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inventarios[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventarios[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventarios[0].Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventarios[0].Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventarios[0].Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Inventarios) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                    <form asp-controller="Ventas" asp-action="AgregarItem" method="post">

                        <input type="number" asp-for="Detalles.Cantidad" min="1" max="100" step="1" placeholder="Ingrese la cantidad">
                       
                        <input type="hidden" asp-for="Detalles.Id_venta" value="@Model.venta.Id" />
                        <input type="hidden"  asp-for="Detalles.Id_inventario" value="@item.Id" />
                        <input type="hidden"  asp-for="Detalles.Precio" value="@item.Precio" />
                   @*     @{
                            decimal monto = @item.Precio * Model.Detalles.Cantidad;
                        }
                        <input type="hidden" asp-for="Detalles.Monto" value="@monto" />*@
                                                                    
                        <button type="submit" class="btn btn-primary">Agregar</button>

                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
