@using Inventario.Models.Dominio.Ventas;
@using Inventario.WebApp.Areas.Ventas.Modelos;
@model VentaEnProcesoViewModel



<div class="col-lg-6 mb-5">
    <div class="card">
        <div class="card-header">
            <h4 class="card-heading">Items de venta</h4>
        </div>
        <div class="card-body">

            <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                id
                            </th>
                            <th>
                                Producto
                            </th>
                            <th>
                                Precio
                            </th>
                            <th>
                                Cantidad
                            </th>
                            <th>
                                SubTotal
                            </th>
                             <th>
                            Descuento
                            </th>
                            <th>
                                Total
                            </th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.venta.VentaDetalles)
                        {
                            
                            <tr>
                                @{
                                    decimal Monto = item.Precio * item.Cantidad;

                                    decimal Total = Monto - item.MontoDescuento;
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id_inventario)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Inventarios.Where(i => i.Id == item.Id_inventario).FirstOrDefault().Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Precio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cantidad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Monto)
                                </td>
                                <td>
                            @Html.DisplayFor(modelItem => item.MontoDescuento)
                            </td>
                                <td>
                                   
                                    @Html.DisplayFor(modelItem => Total)
                                </td>
                                <td>
                                    <form asp-controller="Ventas" asp-action="EliminarItem" method="post">
                                        <input type="hidden" asp-for="Detalles.Id_inventario" value=" @item.Id_inventario" />
                                        <input type="hidden" asp-for="Detalles.Id_venta" value=" @item.Id_venta" />
                                        <input type="hidden" asp-for="Detalles.Id" value=" @item.Id" />
                                        <input type="hidden" asp-for="Detalles.Cantidad" value=" @item.Cantidad" />
                                        <button type="submit" class="btn btn-primary rounded-circle p-2 lh-1">X</button>
                                    </form>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>