@using Inventario.Models.Dominio.Ventas;
@using Inventario.WebApp.Areas.Ventas.Modelos;
@model VentaParaCrear




<table class="table">
    <thead>
        <tr>
            <th>
                id del Producto
            </th>
            <th>
                Nombre del Producto
            </th>
            <th>
                Cantidad
            </th>
            <th>
                SubTotal
            </th>
            <th>
                Monto del Descuento
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.venta.VentaDetalles) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_inventario)
            </td>
            <td>
                    @*  @{
                string nombre = @Model.Inventarios.Where(i => i.Id == @item.Id_inventario).FirstOrDefault().Nombre;
                }*@
                @Html.DisplayFor(modelItem => Model.Inventarios.Where(i => i.Id == item.Id_inventario).FirstOrDefault().Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoDescuento)
            </td>
            <td>
                    @{
                        decimal resultado = item.Monto - item.MontoDescuento;
                    }
                    @Html.DisplayFor(modelItem => resultado)
            </td>
            <td>
                    <form asp-controller="Ventas" asp-action="EliminarItem" method="post">
                        <input type="hidden" asp-for="Detalles.Id_inventario"  value=" @item.Id_inventario" />
                        <input type="hidden" asp-for="Detalles.Id_venta" value=" @item.Id_venta" />
                        <input type="hidden" asp-for="Detalles.Id" value=" @item.Id" />
                        <input type="hidden" asp-for="Detalles.Cantidad" value=" @item.Cantidad" />
                        <button type="submit" class="btn btn-lg btn-pill btn-danger">Eliminar</button>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
